


/* .header a {
  float: left;
  background-color: #ddd;
  color: black;
  text-align: center;
  padding: 12px, 10px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-weight: bold;
  overflow: hidden;
} */

.navbar-brand {
  text-align: center;
  font-size: 170%;
}


p.city {
  font-weight: bold;
}

#forecast {
  font-weight: bold;

}

#searchValue {
  display: flex;
}

.container-fluid {
  display:flex; 
}       

.uvi {
  width: 40px;
  color: white;
  text-align: center;
}

.col-md-2 {
  background-color: rgb(238, 234, 234);
  display: flex;
  
}

/* stackoverflow. seach history is highlighted */
/* li:hover {
    
  background-color:yellow;
}

li {
  background-color:white;
  font-color: black ;
} */

.col-md-10{
  border: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  @media screen and (max-width: 768px) {
    body {
      background: #94c0f5;
    }
  } 